@charset "UTF-8";

/****************************************************************
GENERAL STYLING
*****************************************************************/
html {
    font-size: 100%;
}
body{
	color: #333;
	text-align: center;
}
h1 {
	margin: 20px 0;
}
.desc {
	margin-bottom: 40px;
}

/****************************************************************
ADD NEW COLOR AREA
*****************************************************************/
.new-color {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
.new-color .color-sample {
	margin-right: 20px;
}
input[type="text"] {
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 5px;
	width: 200px;
	font-size: 2rem;
}
button {
	background: #ddd;
	border-radius: 5px;
	padding: 5px;
	font-size: 2rem;
}

/****************************************************************
COLOR LIST AREA
*****************************************************************/
table {
	border-collapse:collapse;
	text-align: center;
	width: 50%;
	margin: 40px auto;
}
th {
	background:#efefef;
}
th,
td {
	border:1px solid #ddd;
	padding:10px;
	vertical-align:middle;
}
.color-sample {
	width: 60px;
	height: 40px;
	border-radius: 5px;
	display: inline-block;
}

/****************************************************************
COPY TEXT
*****************************************************************/
.copy-value {
	cursor: pointer;
	position: relative;
}
.copy-value:hover {
	animation: hover-flash 1s;
}

/* Animation */
@keyframes hover-flash {
  from { opacity: .2; }
  to { opacity: 1; }
}

/* Tooltip */
.tooltip::after {
	content: 'Copied!';
	background: #333;
	display: inline-block;
	color: #fff;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	bottom: -14px;
	transform: translate(-50%, 0);
	font-size: .75rem;
	padding: 4px 10px 6px 10px;
	animation: fade-tooltip .5s 1s 1 forwards;
}

/* Animation */
@keyframes fade-tooltip {
  to { opacity: 0; }
}
